.container--navigation {
    margin: 0 auto;
    width: 68%;
    
}
.navigation {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;    
    right: 0;
    transition:  ease .4s;
    background-color: $main-background-color;
    &.open{
        transition:  ease .4s;
        top:-135px
    }
  
    &__row {
        @include flex-position(row,space-between,center);
        flex-wrap: nowrap;
        padding: 2.2em 0;
        border-bottom: 1px solid #383838;
        @include hd{
            padding: .8em 0 .8em;
        }
        @include tablet {
            color: #FFFFFF;
            @include flex-position(row,space-between,center);
            width: 100%;
        }
    }

    &__list {
        position: relative;
        @include flex-position(row,stretch,center);
        flex-wrap: nowrap;
        width: 72%;    
        @include hd {
            width: 82%;
        }
        @include tablet{
            position: fixed;
            @include flex-position(column,center,center);
            width: 100%;
            height: 100vh;
            top: 0;
            right: 0;
            left: 0;
            background: $gradient;
            transform: translateX(100vw);
            transition: transform .3s ease-in-out;
            z-index: 10;
        }
    }
    &__list.open{
        @include tablet{
            transform: translateX(0);
            z-index: 10;
        }
    }

    &__list li:nth-child(1) {
        flex: 1 1 auto;
        @include tablet {
            order: 2;
            flex: none;
        }
    }
    &__list li:nth-child(2) {
        flex: 1 1 auto;
        @include tablet {
            order: 1;
            flex: none;
        }
    }
    &__list li:nth-child(3) {
        flex: 1 1 auto;
        @include tablet {
            order: 3;
            flex: none;
        }
    }

    &__element {
        @include fonts(calc(12px + 4 * (100vw / 1920)),normal,normal);
        margin: 1em 1em;
        @include big-tablet {
            margin: 0;
        }
        @include tablet{
            @include fonts(20px,500,normal);
            color: $lite-color;
            margin: 1em 1em;
        };
    }

    &__link{
        padding: 1em 0;
        color: $dark-color;
        @include tablet {
            color: $lite-color;
        } 
    }

    &__link--restaurant {
        @include fonts(16px,normal,normal);
        padding: 1.5em 3.1em;
        border-radius: 24px;
        color: #ffff;
        background-color: #6654F1;
        @include big-tablet {
            padding: 1em 1em;
        }
        @include tablet {
            padding: 1.5em 3.1em;
        }
    }

    &__image {
        flex: 1 2 auto;
    }

    &__restaurant{
        flex: 2 2 auto;
        order: 4;
        @include flex-position(row,flex-end,stretch);
        @include tablet {
            flex: none;
            position: absolute;
            bottom: 100px;
            
        }
        @include big-tablet {
            flex: none;
        }
    }
}

// menu
.navigation__btn {
    @include tablet {
        display: flex;
    }
    position: relative;
    z-index: 15;
    display: none;
    width: 1.5rem;
    
    cursor: pointer;
}

.navigation__lines,
.navigation__lines::before,
.navigation__lines::after {
    width: 1.5rem;
    height: 0.1rem;
    background-color: #FFFFFF;
    transition: all .5s ease-in-out;
}

.navigation__lines::before,
.navigation__lines::after{
    content: '';
    position: absolute;
}

.navigation__lines::before {
    transform: translateY(-.5rem);
}

.navigation__lines::after {
    transform: translateY(.5rem);
}

// animation button

.navigation__btn.open .navigation__lines {
    transform: translateX(2rem);
    background-color: transparent;
}

.navigation__btn.open .navigation__lines::before {
    transform: rotate(45deg) translate(-1.5rem, 1.5rem);
    background-color: #FFFFFF;
}

.navigation__btn.open .navigation__lines::after {
    transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
    background-color: #FFFFFF;
}
